;Fil this file with your credentials and rename it to AtWebservicesTestCredentials.ini
;
;The user name registered in the AT portal and sub user (nif/sub user) with permission to use teh AT webservices
username = 555555550/1
;The username password
password = your_password
