nbproject
/vendor
.settings
.settings/
.buildpath/
.project/
/.metadata

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
phive.phar
test/temp
.phpunit.result.cache
AtWebservicesTestCredentials.ini
