parameters:
	level: 7
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- test
	bootstrapFiles:
		- test/bootstrap.php
	ignoreErrors:
		
	excludes_analyse:
		- test/bootstrap.php
		- test/Base.php